# 1 - PREPROCESSING (TEMPLATE SUP. ML)

# Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.colab import drive

# Import data

**NOTA:** En Machine Learning trabajar con datasets gigantes (>1MM observaciones) tiene un gran coste computacional y no suele significar una mejora en el modelo. En estos casos se recomienda utilizar muestras aleatorias de 200k-500k observaciones.

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/2.3 - Preprocessing & Analysis/data/airbnb_NYC_2019_1.csv')
df.shape

(48907, 19)

In [ ]:
df.head(3)

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,superhost,services
0,0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,no,NaN
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355,no,NaN
2,2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365,no,NaN

# Preprocessing

## EDA: Analysis

* Analisis univariante
* Analisis multivariante

## Data Cleaning

* Eliminar filas/columnas vac√≠as y columnas irrelevantes
* Corregir formatos incorrectos
* Fechas y textos: convertir a variables numericas o categoricas

## Nulls: impute values

* Imputar cero, valor fijo, media o moda

## One-Hot-Encoding

## Remove Low-Variance

## Remove High-Correlation

# Save cleaned dataset